@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div>
                <img style="width:300px" height="300px" src="~/Models/64394288-506f-1500-4461-0017795c7add.jpg"/>
                <p>Giá :100$</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img  style="width:300px" height="300px" src="~/Models/6f260f1b-05bc-0b00-0a57-00177ecd4050.jpg" />
                <p>Giá :100$</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img  style="width:300px" height="300px" src="~/Models/833ce7ff-5dc6-0100-db41-001780437b8a.jpg" />
                <p>Giá :100$</p>
            </div>
        </div>
    </div>
</div>